---
layout: default
title: 分类
---

<div class="entry-asset asset hentry">
  <div class="asset-header">
    <h2 class="asset-name entry-title">文章分类</h2>
  </div>
  <div class="asset-content entry-content">
    <div class="asset-body">
      <div id="homepage">
      {% for category in site.categories %}
        <h3>
          <a href="{{ site.baseurl }}/category/{{ category[0] | slugify }}/">{{ category[0] }}</a>
          <span style="color:gray;font-size:0.7em;">({{ category[1].size }})</span>
        </h3>
        <ul>
          {% for post in category[1] limit:5 %}
          <li>
            <span>{{ post.date | date: "%Y年%m月%d日" }} &raquo; </span>
            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </li>
          {% endfor %}
        </ul>
        {% if category[1].size > 5 %}
        <p>
          <a href="{{ site.baseurl }}/category/{{ category[0] | slugify }}/">查看全部 {{ category[1].size }} 篇文章...</a>
        </p>
        {% endif %}
      {% endfor %}
      </div>
    </div>
  </div>
</div>
