<header class="site-header">
  <div class="container" style="text-align:center">
    <div class="navbar" style="margin-bottom:0;border:0">
    <ul class="navbar-nav nav header-nav">
    <li><a href="{{ site.baseurl }}/index.html" class="button">首页</a></li>
      <li><a href="{{ site.baseurl }}/category/互联网" class="button">互联网</a></li>
      <li><a href="{{ site.baseurl }}/category/金融" class="button">金融</a></li>
      <li><a href="{{ site.baseurl }}/category/商业" class="button">商业</a></li>
      <li><a href="{{ site.baseurl }}/category/读书笔记" class="button">读书笔记</a></li>
      <li><a href="{{ site.baseurl }}/category/生活" class="button">生活</a></li>
    </ul>
    </div>
  </div>

</header>
<div class="clearfix">
