<header class="site-header">
  <div class="container" style="text-align:center">
    <div class="navbar" style="margin-bottom:0;border:0">
    <ul class="navbar-nav nav header-nav">
    <li><a href="{{ site.baseurl }}/index.html" class="button">首页</a></li>
      <li><a href="{{ site.baseurl }}/category/技术" class="button">技术</a></li>
      <li><a href="{{ site.baseurl }}/category/产品商业" class="button">产品商业</a></li>
      <li><a href="{{ site.baseurl }}/category/随记" class="button">随记</a></li>
    </ul>
    </div>
  </div>

</header>
<div class="clearfix">
