---
layout: default
---
<div class="entry-asset asset hentry">
  <div class="asset-header">
    <h2 class="asset-name entry-title">{{ page.title }}</h2>
    <p id="asset-tags">
      分类<span class="delimiter">：</span>
      {% if page.categories %}
      <a href="{{ site.baseurl }}/category/{{ page.categories[0] }}/" rel="tag">{{ page.categories[0] }}</a>
      {% endif %}
    </p>
  </div>
  <div class="asset-content entry-content">
    <div class="asset-body">
      {{ content }}
    </div>
    
    <div class="asset-more-link">
      <p><a href="{{ page.url | prepend: site.baseurl }}" rel="bookmark">继续阅读全文 »</a></p>
    </div>
  </div>
  <div class="asset-footer">
    <div class="asset-meta">
      <p>
        <span class="byline">
          <abbr class="published" title="{{ page.date | date_to_xmlschema }}">
            {{ page.date | date: "%Y年%m月%d日" }}
          </abbr>
        </span>
        
        <span class="separator">|</span>
        <a href="{{ page.url | prepend: site.baseurl }}#comments">留言（0）</a>
      </p>
    </div>
  </div>
</div>

