---
layout: default
---

<div class="entry-asset asset hentry">

  <div class="asset-nav">
    <div class="entry-categories">
      分类<span class="delimiter">：</span>
      {% for cat in page.categories %}
      <a href="{{ site.baseurl }}/category/{{ cat | slugify }}/" rel="tag">{{ cat }}</a>{% unless forloop.last %}, {% endunless %}
      {% endfor %}
    </div>
    <div class="entry-location">
      {% if page.previous %}
      <li><a href="{{ page.previous.url | prepend: site.baseurl }}">&laquo; {{ page.previous.title | truncate: 20 }}</a></li>
      {% endif %}
    </div>
  </div>

  <div class="asset-header">
    <h1 class="asset-name entry-title">{{ page.title }}</h1>
  </div>

  <div class="asset-meta">
    <p>
      日期：
      <a href="{{ site.baseurl }}/archive/">
        <abbr class="published" title="{{ page.date | date_to_xmlschema }}">
          {{ page.date | date: "%Y年%m月%d日" }}
        </abbr>
      </a>
    </p>
  </div>

  <div class="asset-content entry-content">
    <div class="asset-body">
      {{ content }}
    </div>
  </div>

  <div class="asset-footer">
    <h3>文档信息</h3>
    <ul>
      <li>发表日期：{{ page.date | date: "%Y年%m月%d日" }}</li>
      {% if page.tags.size > 0 %}
      <li>标签：
        {% for tag in page.tags %}
        <a href="{{ site.baseurl }}/tag/{{ tag | slugify }}/">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
        {% endfor %}
      </li>
      {% endif %}
      <li>版权声明：自由转载-非商用-非衍生-保持署名</li>
    </ul>
  </div>

</div>

{% assign related = site.related_posts | slice: 0, 4 %}
{% if related.size > 0 %}
<div id="related_entries">
  <h3>相关文章</h3>
  <ul>
    {% for post in related %}
    <li>
      <span>{{ post.date | date: "%Y.%m.%d" }}: </span>
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      <div class="entry-body">
        <p>{{ post.content | strip_html | truncate: 80 }}</p>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
{% endif %}
